{% extends "base.html" %}
{% block content %}

<h1>Contacts</h1>
<br>

<table class="table table-dark">
    <thead>
    <tr class="table-primary">
        <td>User Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Mobile</td>
        <td>Address</td>
        <td>Country</td>
    </tr>
   </thead>
   {% for contact in contacts %}
    <tr class="table-info">
        <td>{{contact.id}}</td>
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.mobile}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.country}}</td>
    </tr>
</table>
{% endfor %}
{% endblock %}
   
   