{% extends "base.html" %}
{% block content %}

<h1>Please login</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
    <input type ="text" placeholder="Name" name="name" value="{{ request.form.name }}">
    <input type = "password" placeholder="Password" name = "password" value="{{ request.form.password }}">
    <input class = "btn btn-primary" type="submit" value="Login">
</form>

{% endblock %}
   
   