{% extends "base.html" %}
{% block content %}

<h1>Please Register</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
    <input type ="text" placeholder="name" name="name" value="{{ request.form.name }}"><br>
    <input type ="email" placeholder="email" name="email" value="{{ request.form.email }}"><br>
    <input type = "password" placeholder="Password" name = "password" value="{{ request.form.password }}"><br>
    <input type = "address" placeholder="Address" name = "address" value="{{ request.form.address }}"><br>
    <input class = "btn btn-primary" type="submit" value="Register">
</form>

{% endblock %}
   
   